@import url('../node_modules/normalize.css/normalize');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@700&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700;800&display=swap');
body {
	overflow-x: hidden;
	font-size: 12px;
}

/* html,
body,
header, */
.carousel {
	height: 60vh;
}

.mobileCar{
	display:none;
}

.desktopCar{
	height: 100%;
}

.arrow-left{
	display: none;
}

@media (max-width: 740px) {
	html,
	body,
	header,
	.mobileCar{
		display: block;
		height:100%;
	}
	.desktopCar{
		display: none;
	}
	.carousel {
		height: 100vh;		
	}
	.mobileLink{
		color: black !important;
		font-family: Barlow !important;
		font-style: bold !important;
		font-size: 1.3em !important;
	}
	
	.mobileActiveLink{
		color: #f0112b !important;
		font-weight: bold !important;
		font-size: 1.3em !important;
	}
}

@media (min-width: 800px) and (max-width: 850px) {
	html,
	body,
	header,
	.carousel {
		height: 100vh;
	}
}

@media (min-width: 800px) and (max-width: 850px) {
	.navbar:not(.top-nav-collapse) {
		background: #1c2331 !important;
	}
}
.view,
body,
html {
	height: 100%;
	overflow-x: hidden;
}
@media (max-width: 740px) {
	.full-page-intro {
		height: 1000px;
	}
}
.carousel {
	height: 100%;	
}
.carousel .carousel-inner,
.carousel .carousel-inner .active,
.carousel .carousel-inner .carousel-item {
	height: 100%;
}
@media (max-width: 776px) {
	.carousel {
		height: 100%;		
	}
}
.navbar {
	background-color: rgba(0, 0, 0, 0.3);
}
.page-footer,
.top-nav-collapse {
	background-color: #1c2331;
}
@media only screen and (max-width: 768px) {
	.navbar {
		background-color: white;
	}
}

.rgba-black-light {
	background-color: rgb(255, 255, 255);
}

.btn-outline-white {
	background-color: #f0112b !important;
	border: none !important;
	border-radius: 5em !important;
}


.mobileNav{
    background-color: #f0112b;
}

.leftSide {
	float: left;
	width: 40%;
	height: 100%;
	margin-left: 5%;
}

.rightSide {
	float: right;
	width: 55%;
	height: 100%;
	background-image: url(/img/mg.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 0 0 23px;
}

.secondRightSide {
	float: right;
	width: 55%;
	height: 100%;
	background-image: url(/img/mg2.png);
	background-repeat: no-repeat;
	background-size: cover;
	padding: 35px 0 0 23px;
}


.myLinks li {
	display: inline;
	list-style-type: none;
}

.myLinks .active {
	color: #f0112b;
	font-weight: bold;
}

.myLinks li a {
	color: #e9e9e9;
	font-family: Barlow;
	font-style: bold;
	font-size: 1.15em;
	padding-right: 20px;
}

.myIndicators {
	justify-content: initial;
	margin-left: 6%;
}

.myIndicators li {
	background-color: #f0112b !important;
	border-radius: initial !important;
	width: 5% !important;
	position: relative;
	left: 0;
}

.logo {
	margin: 7% 5% 20% 0;
	padding: 0 5% 5% 3%;
}

.text {
	margin: 7% 5% 20% 0;
	padding: 0 5% 5% 3%;
}

.bestCars {
	margin-top: 8%;
	font-size: 4em;
	font-family: Barlow, sans-serif;
	font-style: bold;
	font-weight: 700;
	line-height: 62px;
	letter-spacing: 0.02em;
	text-align: left;
	color: #f0112b;
}

.findNew {
	font-family: Barlow;
	font-size: 2em;
	font-style: normal;
	font-weight: 400;
	line-height: 36px;
	letter-spacing: 0em;
	text-align: left;
	color: #000000cc;
}

@media (min-width: 300px) and (max-width: 540px) {
    .bestCars{
        font-size: 30px;
        line-height: initial;
        text-align: center;
    }

    .findNew{
        color: white;
        text-align: center;
        font-size: 16px;
        line-height: initial;
        font-weight: 600;
		padding-bottom: 20px;
    }
}

.products {
	padding: 24px 48px;
	color: white;
	font-weight: bold;
	background-color: #f0112b;
	border-radius: 64px;
	position: absolute;
	border: 1px solid #f0112b;
	font-size: 1em;
	letter-spacing: 0.05em;
}

@media (min-width: 300px) and (max-width: 540px) {
    .products{
        font-size: 12px;
        padding: 15px;
        font-weight: 400 !important;
        position: relative;
    }
}

.border {
	width: 100%;
	height: 26px;
	background-color: #f0112b;
}

.services {
	background-color: #f8f7f7;
	padding-bottom: 100px;
	padding-left: 5%;
}

.serviceH {
	padding: 80px 300px 50px 200px;
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
}

@media (min-width: 300px) and (max-width: 540px) {
	.serviceH {
		padding: 40px 0 0 0;
		font-size: 24px;
	}
}

.myCol {
	background-color: #ffffff;
	border-radius: 8px;
	height: 610px;
}

@media (min-width: 300px) and (max-width: 540px) {
	.myCol {
		margin-right: 5%;
		margin-top: 15%;
	}
}

.withPad {
	padding: 30px 5px 30px 20px;
}

.myCol2 {
	height: 600px;
	padding-left: 0px;
}

.serviceCol1 {
	border-radius: 8px;
	height: 307px;
	margin-bottom: 5%;
	background-color: #ffffff;
	padding: 30px 15px 30px 20px;
}

.serviceCol2 {
	border-radius: 8px;
	height: 286px;
	background-color: #ffffff;
	padding: 30px 20px 30px 20px;
}

@media (min-width: 300px) and (max-width: 540px) {
	.serviceCol1 {
		margin-top: 5%;
		margin-right: 3%;
	}
}

@media (min-width: 300px) and (max-width: 540px) {
	.serviceCol2 {
		margin-right: 3%;
	}
}

.adjustCars {
	width: 110%;
}

@media (min-width: 300px) and (max-width: 540px) {
	.adjustCars {
		width: 100%;
	}
}

.bach {
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	padding-top: 10px;
}

.bacp {
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.bach2 {
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 32px;
	padding-top: 10px;
}

.bacp2 {
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
}

.learnMore {
	background-color: #f0112b;
	border-radius: 64px;
	margin-left: 7%;
	margin-right: 10%;
}

.learnMore p {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.04em;
	color: #ffffff;
	padding-top: 10px;
	padding-bottom: 10px;
}

.learnMore2 {
	border: 1px solid #f0112b;
	border-radius: 64px;
	margin-left: 5%;
	margin-right: 8%;
	margin-top: 10%;
	margin-bottom: 20%;
}

.learnMore2 p {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.04em;
	color: #f0112b;
	padding-top: 10px;
}

.col3Img {
	max-width: 100%;
}

.sale {
	background-color: #ffffff;
	padding-left: 4%;
	padding-right: 3%;
}

.saleH {
	padding: 80px 250px 50px 250px;
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 40px;
}

@media (min-width: 300px) and (max-width: 540px) {
	.saleH {
		padding: 40px 0;
		font-size:24px;
	}
}

.dollar {
	font-family: Barlow;
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.01em;
	color: #f0112b;
	margin-top: -10px;
}

.brandname {
	padding-top: 20px;
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.01em;
	color: #000000;
}

.viewAllDiv {
	margin-left: 3%;
	margin-top: 2%;
	margin-bottom: 20%;
}

.viewAllDivMobile {
	display: none;
}

.viewall {
	margin-left: 3%;
	margin-right: 2%;
	border: 1px solid #f0112b;
	border-radius: 64px;
	float: left;
	width: 18%;
}

.viewall p {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 0.04em;
	color: #f0112b;
	padding-top: 20px;
}

.viewHr {
	float: right;
	width: 77%;
	padding-top: 1%;
}

@media (min-width: 300px) and (max-width: 540px) {
	.viewAllDivMobile {
		display: block;
	}
	.viewAllDiv {
		display: none;
	}
	.viewall {
		width: 100%;
		margin: 8%;
	}

	.viewall p {
		text-align: center;
	}
}

.hrClass {
	height: 1px;
	background-color: #f0112b;
	border: none;
}

.human {
	background: linear-gradient(rgba(240, 17, 43, 0.2), rgba(240, 17, 43, 0.2)),
		url(/img/human.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 90%;
	width: 100%;
}

.humanText {
	background-color: white;
	padding: 0 50px 50px 50px;
	bottom: 60px;
	border-radius: 10px;
}

@media (min-width: 300px) and (max-width: 540px) {
	.humanText {
		padding: 0px 20px;
		margin-top: 4%;
		margin-bottom: 4%;
		margin-left: 8%;
		margin-right: 5%;
		bottom: 0px;
	}
}

.humanText h5 {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 24px;
	letter-spacing: 0.04em;
	color: #f0112b;
	padding-top: 50px;
}

.testimony {
	font-family: Barlow;
	font-style: normal;

	font-weight: normal;
	font-size: 14px;
	line-height: 28px;
	padding-top: 20px;
}

.arrow-left {
    margin-right: 0;
	float: right;
    width: 200px;
    height: 200px;
   background-image: url(/img/svg/triangle.svg);
}

.testator {
	font-family: Barlow;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 30px;
	color: #000000;
}

.common {
	background-color: #e5e5e533;
}

.myFooter {
	background-color: #f0112b;
	/* height: 80%; */
}

.makeEquiry {
	background-color: #f0112b;
	border-radius: 64px;
	margin-right: 30%;
}

.makeEquiry p {
	font-family: Barlow;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.04em;
	color: #ffffff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.empty {
	padding: 150px;
	background-color: #e5e5e557;
}

.fLeft {
	/* padding: 40px; */
	width: 33%;
	/* padding-left: 50px; 
    padding-top:30px; */
}

.fLeftP {
	padding-top: 50px;
	padding-bottom: 10px;
	font-family: Barlow;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.01em;
	color: #000000;
}

.fImage {
	width: 67%;
	float: right;
	position: relative;
	background-image: url('/img/fImage.png');
	background-position: bottom center;
	background-repeat: no-repeat;
	background-size: 30px 50px;
}

.abs {
	position: absolute;
	bottom: 0px;
}

.fImage img {
	width: 100%;
    border-radius: 10px;
}

.moved {
	border-radius: 10px;
	background-color: white;
	padding: 30px 0 23px 40px;
	/* height: 87%; */
}

.move {
	bottom: 220px;
}

.fLinksDiv {
	padding-top: 40px;
}

.fLinks {
	color: white;
}
